<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <title>AptFinder</title>
</head>
<body>
  <div id="applist" class="d-grid row">
    <div class="row">

      <% apartments.forEach(app => { %>

        <div class="apartment border border-3 border-dark border-opacity-50 ms-5 col col-4">
          <img class="w-100" src="<%= app.mainImg %>" alt="Img">
      
          <div class="aptitle fw-bold text-center text-decoration-underline"> <%= app.title %> </div>
          <div class="apdesc text-center"> <%= app.description %></div>
          <p></p>
          <div class="apdesc text-center"> <%= app.rules %></div>
          <p></p>
          <div class="apprice text-center fw-bold"> <%= app.price %>€</div>
          <p></p>
          <div class="apsize text-center fw-bold"> <%= app.size %>m²</div>
      
          <hr>
      
          <ul class="list-unstyled row container justify-content-center">
            <% if (app.utilities[0]?.ac) { %>
            <div class="col-6"><i class="fa fa-fw fa-shower"></i> Shower</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-shower text-muted"></i> Shower</div>
            <% } %>
            <% if (app.utilities[0]?.internet) { %>
            <div class="col-6"><i class="fa fa-fw fa-wifi"></i> WiFi</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-wifi text-muted"></i> WiFi</div>
            <% } %>
            <% if (app.utilities[0]?.tv) { %>
            <div class="col-6"><i class="fa fa-fw fa-tv"></i> TV</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-tv text-muted"></i> TV</div>
            <% } %>
            <% if (app.utilities[0]?.kitchen) { %>
            <div class="col-6"><i class="fa fa-fw fa-utensils"></i> Kitchen</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-utensils text-muted"></i> Kitchen</div>
            <% } %>
            <% if (app.utilities[0]?.heater) { %>
            <div class="col-6"><i class="fa fa-fw fa-thermometer"></i> Heating</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-thermometer text-muted"></i> Heating</div>
            <% } %>
            <% if (app.utilities[0]?.accessibility) { %>
            <div class="col-6"><i class="fa fa-fw fa-wheelchair"></i> Accessibility</div>
            <% } else { %>
            <div class="col-6"><i class="fa fa-fw fa-wheelchair text-muted"></i> Accessibility</div>
            <% } %>
          </ul>
          <a class="btn btn-success w-100" href='http://localhost:3000/apartment/<%= app.privateID %>'>Rent</a>
          <% if (admin) { %>
            <a class="btn btn-danger w-100" href='http://localhost:3000/admin/apartment/<%= app.privateID %>/edit'>Edit</a>
          <% } %>
        </div>

      <% }) %>

    </div>

  </div>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>