<!DOCTYPE html>
<html>

<head>
  <title>AptFinder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", Arial, Helvetica, sans-serif
    }

    .mySlides {
      display: none
    }
  </style>
</head>

<body class="w3-content w3-border-left w3-border-right">
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
      <h3>Alquiler</h3>
      <h3>desde <%= apartment.price %>€</h3>
      <h6>por noche</h6>
      <hr>
      <form method="POST">
        <p><label><i class="fa fa-calendar-check-o"></i> Entrada:</label></p>
        <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckIn" required>
        <p><label><i class="fa fa-calendar-o"></i> Salida:</label></p>
        <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckOut" required>
        <p><label><i class="fa fa-male"></i> Adultos:</label></p>
        <input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
        <p><label><i class="fa fa-child"></i> Niños:</label></p>
        <input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
        <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i
              class="fa fa-search w3-margin-right"></i> Buscar disponibilidad</button></p>
      </form>
    </div>
    <div class="w3-bar-block">
      <a href="#apartment" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartment</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16"
        onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> Subscribe</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <span class="w3-bar-item">Rental</span>
    <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i
        class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-white" style="margin-left:260px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:80px"></div>

    <!-- Slideshow Header -->
    <div class="w3-container" id="apartment">
      <h2 class="w3-text-green"><%= apartment.title %></h2>
      <div class="w3-display-container mySlides">
        <img src="<%= apartment.mainImg %>" style="width:100%;height:500px;margin-bottom:-6px">
        <div class="w3-display-bottomleft w3-container w3-black">
          <p>Habitación</p>
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="<%= apartment.img1 %>" style="width:100%;height:500px;margin-bottom:-6px">
        <div class="w3-display-bottomleft w3-container w3-black">
          <p>Cocina</p>
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="<%= apartment.img2 %>" style="width:100%;height:500px;margin-bottom:-6px">
        <div class="w3-display-bottomleft w3-container w3-black">
          <p>Baño</p>
        </div>
      </div>
      <div class="w3-display-container mySlides">
        <img src="<%= apartment.img3 %>" style="width:100%;height:500px;margin-bottom:-6px">
        <div class="w3-display-bottomleft w3-container w3-black">
          <p>Comedor</p>
        </div>
      </div>
    </div>
    <div class="w3-row-padding w3-section">
      <div class="w3-col s3">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= apartment.mainImg %>"
          style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Habitación">
      </div>
      <div class="w3-col s3">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= apartment.img1 %>"
          style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Cocina">
      </div>
      <div class="w3-col s3">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= apartment.img2 %>" style="width:100%;cursor:pointer"
          onclick="currentDiv(3)" title="Baño">
      </div>
      <div class="w3-col s3">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= apartment.img3 %>"
          style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Comedor">
      </div>
    </div>

    <div class="w3-container">
      <h4><strong>Detalles</strong></h4>
      <div class="w3-row w3-large">
        <div class="w3-col s6">
          <p><i class="fa-solid fa-house"></i> Número de habitaciones: <%= apartment.rooms%></p>
          <p><i class="fa fa-fw fa-bed"></i> Número de camas/hab: <%= apartment.roomsBeds%></p>
          <p><i class="fa fa-fw fa-bath"></i> Baños: <%= apartment.bathrooms%> </p>
        </div>
        <div class="w3-col s6">
          <p><i class="fa fa-fw fa-clock-o"></i> Check In: After 3PM</p>
          <p><i class="fa fa-fw fa-clock-o"></i> Check Out: 12PM</p>
        </div>
      </div>
      <hr>

      <h4><strong>Comodidades</strong></h4>
      <div class="w3-row w3-large">
        <div class="w3-col s6">
          <% if (apartment.utilities[0].ac) { %>
            <p><i class="fa fa-fw fa-shower"></i> Ducha</p>
            <% } else { %>
            <p><i class="fa fa-fw fa-shower text-muted"></i> Ducha</p>
            <% } %>
            <% if (apartment.utilities[0]?.internet) { %>
            <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
            <% } else { %>
            <p><i class="fa fa-fw fa-wifi text-muted"></i> WiFi</p>
            <% } %>
            <% if (apartment.utilities[0]?.tv) { %>
            <p><i class="fa fa-fw fa-tv"></i> TV</p>
            <% } else { %>
            <p><i class="fa fa-fw fa-tv text-muted"></i> TV</p>
            <% } %>
        </div>
        <div class="w3-col s6">
          
          <% if (apartment.utilities[0]?.kitchen) { %>
            <p><i class="fa fa-fw fa-cutlery"></i> Cocina</p>
            <% } else { %>
            <p><i class="fa fa-fw fa-cutlery text-muted"></i> Cocina</p>
            <% } %>

            <% if (apartment.utilities[0]?.heater) { %>
              <p><i class="fa fa-fw fa-thermometer"></i> Calefacción</p>
              <% } else { %>
              <p><i class="fa fa-fw fa-thermometer text-muted"></i> Calefacción</p>
              <% } %>

            <% if (apartment.utilities[0]?.accessibility) { %>
              <p><i class="fa fa-fw fa-wheelchair"></i> Accesibilidad</p>
              <% } else { %>
              <p><i class="fa fa-fw fa-wheelchair text-muted"></i> Accesibilidad</p>
              <% } %>
        </div>
      </div>
      <hr>

      <h4><strong>Descripción</strong></h4>
      <p><%= apartment.description %></p>
      <hr>

      <h4><strong>Reglas</strong></h4>
      <p><%= apartment.rules %></p>
    </div>

    <!-- End page content -->
  </div>

  <!-- Subscribe Modal -->
  <div id="subscribe" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-padding-large">
      <div class="w3-container w3-white w3-center">
        <i onclick="document.getElementById('subscribe').style.display='none'"
          class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
        <h2 class="w3-wide">SUBSCRIBE</h2>
        <p>Join our mailing list to receive updates on available dates and special offers.</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
        <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom"
          onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
      </div>
    </div>
  </div>

  <script>
    // Script to open and close sidebar when on tablets and phones
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Slideshow Apartment Images
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " w3-opacity-off";
    }
  </script>

</body>

</html>